{% extends 'base.html' %} 

{% block content %}
<h1>{{ title }}</h1>

<table class="table">
  <tr>
    <th>Recompensa</th>
    <th>Descripción</th>
    <th>Puntos requeridos</th>
    <th>Stock</th>
    <th>Imagen</th>
    <th>Estado</th>
    <th>Opción</th>
  </tr>
  {% for reward in rewards %}
  <tr>
    <td>{{ reward.name }}</td>
    <td>{{ reward.description }}</td>
    <td>{{ reward.points_required }}</td>
    <td>{{ reward.stock }}</td>
    <td><img src="{{ reward.image.url }}" width="50" height="50" /></td>
    <td>{{ reward.status|yesno:"Habilitado,Deshabilitado" }}</td>
    <td>
      <a href="{% url 'update_reward' reward.id %}" class="btn btn-primary btn-sm">Editar</a>
      
      {% if reward.status %}
      <a href="{% url 'disable_reward' reward.id %}" class="btn btn-danger btn-sm">Deshabilitado</a>  
      {% else %}
      <a href="{% url 'enable_reward' reward.id %}" class="btn btn-success btn-sm">Habilitado</a>
      {% endif %}

    </td>
  </tr>
  {% endfor %}
</table>

<br />
<a href="{% url 'create_reward' %}" class="btn btn-dark">Crear recompensa</a>
{% endblock %}
