{% extends 'base.html' %} 

{% block content %}
<h1>{{ title }}</h1>

<table class="table">
  <tr>
    <th>user_id</th>
    <th>Name</th>
    <th>Correo</th>
    <th class="text-center">Transacciones</th>
    <th class="text-center">Puntos</th>
    <th class="text-center">Recompensas canjeadas</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>{{ user.id }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td class="text-center">{{ transactions }}</td>
    <td class="text-center">{{ user.total_points }}</td>
    <td class="text-center">{{ claims }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}