<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    
    <title>Recompensas</title>
</head>
<body>
    <div class="container">
        
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" style="color: green;" href="#">RECOMPENSAS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <!-- Enlaces principales a la izquierda -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'home' %}">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item {% if request.path == '/rewards/containers/list' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'list_container' %}">Contenedores</a>
                        </li>
                        <li class="nav-item {% if request.path == '/rewards/list' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'list_reward' %}">Recompensas</a>
                        </li>
                        <li class="nav-item {% if request.path == '/rewards/claim/list' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'list_claim' %}">Canje de recompensas</a>
                        </li>
                        <li class="nav-item {% if request.path == '/users/list' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'list_user' %}">Registros</a>
                        </li>
                    </ul>
            
                    <!-- Sección de usuario a la derecha -->
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ user.username }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                                    <a class="dropdown-item" href="{% url 'train_model' %}">Entrenar modelo</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            
        </header>
        <br>

        <main>
            {% block content %}
            {% endblock %}
        </main>
        <br>

        <footer class="text-center mt-5">
            <p>&copy; 2024 - Grupo11</p>
        </footer>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
</body>
</html>